<a href="https://colab.research.google.com/github/pyANSH/lp3/blob/main/ml_p1_Uber.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

dt = pd.read_csv('https://raw.githubusercontent.com/pyANSH/lp4/main/dataset/uber.csv')

In [2]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         200000 non-null  int64
 1   key                200000 non-null  object
 2   fare_amount        200000 non-null  float64
 3   pickup_datetime    200000 non-null  object
 4   pickup_longitude   200000 non-null  float64
 5   pickup_latitude    200000 non-null  float64
 6   dropoff_longitude  199999 non-null  float64
 7   dropoff_latitude   199999 non-null  float64
 8   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(2)
memory usage: 13.7+ MB

In [3]:
dt.isna().sum()

Unnamed: 0           0
key                  0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    1
dropoff_latitude     1
passenger_count      0
dtype: int64

In [4]:
dt = dt.drop(columns=['Unnamed: 0','key'])

In [5]:
dt['pickup_datetime'] = pd.to_datetime(dt['pickup_datetime'])

In [6]:
dt['date'] = dt['pickup_datetime'].dt.date

In [7]:
dt['time'] = dt['pickup_datetime'].dt.time

In [8]:
dt = dt.drop(columns=['pickup_datetime'])

In [9]:
dt = dt.dropna()

In [10]:
dt.isnull().sum()

fare_amount          0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
date                 0
time                 0
dtype: int64

In [11]:
dt['hour'] = dt['time'].apply(lambda x: int(str(x).split(':')[0]))

## Regression

In [12]:
X = dt.drop(columns=['fare_amount','date','time'])
y = dt['fare_amount']

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [14]:
regr = LinearRegression()
regr.fit(X_train,y_train)
y_pred=regr.predict(X_test)

In [15]:
from sklearn.metrics import mean_squared_error
MSE=mean_squared_error(y_pred,y_test)

In [21]:
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 20, random_state = 5)
# Train the model on training data
rf.fit(X_train, y_train)

In [22]:
pred = rf.predict(X_test)
MSE = mean_squared_error(pred,y_test)

In [23]:
MSE

24.659183415409206